footer.footer {
  background-color: var(--black);
  padding-block: var(--std-padding);

  .content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--std-gap) * 1.5);

    .titleBox {
      text-align: center;
      text-transform: uppercase;

      h2:has(+ h2) {
        margin-bottom: var(--std-gap);
      }
    }

    .contactBox {
      text-align: center;
      font-weight: 600;

      p:has(+ p) {
        margin-bottom: 5px;
      }
    }

    .socialBox {
      > ul {
        list-style-type: none;
        display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (min-width: 800px) {
          flex-direction: row;
          flex-wrap: nowrap;
        }
      }

      li {
        flex: 50%;
        padding: var(--std-gap);
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
      }

      a {
        text-decoration: none;
        color: var(--white);

        &:hover {
          color: var(--orange);
        }
      }
    }

    .bottom {
      padding-top: calc(var(--std-padding) * 2);

      > img {
        display: block; /* ellers virker margin: 0 auto ikke! Ikke på inline eller inline-block elementer */
        width: 200px;
        height: auto;
        margin: 0 auto;
        margin-bottom: calc(var(--std-gap) * 2);
      }

      > .text {
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
