footer.footer {
  background-color: var(--black);
  padding-block-start: var(--std-padding);

  .title {
    text-align: center;
    text-transform: uppercase;
  }

  .title:has(+ .title) {
    margin-bottom: var(--std-gap);
  }

  .title + .title {
    margin-bottom: var(--std-gap);
  }

  .socialBox {
    > ul {
      list-style-type: none;
      display: block;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: var(--std-gap);

      @media (min-width: 800px) {
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    li {
      flex: 50%;
      padding: var(--std-gap);
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
    }

    a {
      text-decoration: none;
      color: var(--white);

      &:hover {
        color: var(--orange);
      }
    }
  }

  .contactBox {
    text-align: center;
    font-weight: 500;
    margin-bottom: var(--std-gap);

    p:has(+ p) {
      margin-bottom: 6px;
    }
  }

  .bottom {
    padding-block-start: var(--std-gap);
    padding-block-end: var(--std-padding);
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.88);
    }

    img {
      position: relative;
      z-index: 2;
      display: block; /* ellers virker margin: 0 auto ikke! Ikke på inline eller inline-block elementer */
      width: 200px;
      height: auto;
      margin: 0 auto;
      margin-bottom: calc(var(--std-gap) * 2);
    }

    .text {
      position: relative;
      z-index: 2;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
    }
  }
}

.orangeText {
  color: var(--orange);
}
