@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --orange: #f07232;
  --black: #000000;
  --secondaryBlack: #212121;
  --grey: #999999;

  --std-gap: 12px;
  --std-padding: 30px;
}

body,
html {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant", serif;
  color: var(--white);
  font-weight: 600;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
  color: var(--white);
}

.smallTitle {
  color: var(--orange);
  font-size: 21px;
}

.container {
  width: min(900px, calc(100% - 3rem));
  margin: 0 auto;
}

body {
  background-color: var(--black);
}

button,
input[type="submit"] {
  cursor: pointer;
}
